
body { 
    margin: auto;
    font-family: 'Abel';font-size: 12px;word-spacing: 0%;
    background-image: url(https://file.garden/ZWlUCY4S7Xz2vypS/archived%20backgrounds/colours/multicolour%20%26%20rainbow/bgpurpspace.gif);
    background-repeat:round;
    background-color: black;
    color: rgb(159, 127, 247);

}
td {
    background-color: rgb(46, 46, 46);
    opacity: 90%;
    padding: 0;
}